@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "leaflet/dist/leaflet.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  color: #384D48; /* Texto más oscuro */
  background-color: #E2E2E2; /* Fondo claro */
}

.wallpaper-section {
  background-image: url("/images/blurry-gradient-haikei.svg");
  background-repeat: no-repeat;
}

h1, h2 {
  color: #384D48; /* Verde oscuro para los títulos principales */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.carousel-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
}

img {
  width: 100%;
  height: auto;
}

.rounded-lg {
  border-radius: 0.5rem; 
}
